/* Estilos anteriores permanecem iguais */
body,
html {
    height: 8%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

#layoutSidenav_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    position: relative; /* Adicionado para suportar posicionamento absoluto dos filhos */
    background-color: white;
    padding: 50px;
    padding-bottom: 70px; /* Aumentado para acomodar a mensagem de erro sem sobrepor outros elementos */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

/* Estilos para a mensagem de erro */
#error-message {
    position: absolute;
    bottom: 0px; /* Posiciona a mensagem na parte inferior do formulário */
    left: 50px; /* Ajuste conforme necessário para alinhar com seus campos */
    right: 50px; /* Garante que a mensagem não se estenda além das bordas do formulário */
    color: red;
    text-align: center;
}


.form-group h2 {
    text-align: center;
    margin-bottom: 20px;
}

.logo-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-image: url('{% static ' path/to/your/image.jpg' %}');
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="password"] {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}

form button[type="submit"] {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10%;
    border: none;
    border-radius: 5px;
    background-color: #312d2d;
    /* Cor primária do botão */
    color: white;
    transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover {
    background-color: #1a1919;
    /* Cor mais escura para o hover */
}

form input,
form select,
form textarea,
form button {
    width: 300px;
    /* Definindo um tamanho fixo para todos os campos e botão */
    padding: 10px;
    margin-bottom: 20px;
    /* Espaço entre os campos */
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="checkbox"] {
    width: auto;
    /* Restaura o tamanho automático apenas para checkboxes */
    margin-right: 10px;
    /* Para alinhar melhor com o texto da label, se necessário */
}

/* Ajustes adicionais para garantir a consistência */
form label {
    display: block;
    margin-bottom: 5px;
}

/* Mantendo os estilos anteriores para o botão */
form button[type="submit"] {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #312d2d;
    color: white;
    transition: background-color 0.2s ease-in-out;
    width: auto;
    /* Permite que o botão tenha um tamanho baseado no seu conteúdo */
}

form button[type="submit"]:hover {
    background-color: #1a1919;
}

#layoutSidenav {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.navbar {
    flex: 0 1 auto; /* A navbar pode crescer ou encolher, mas mantém seu conteúdo */
}

#layoutSidenav_content {
    flex: 1 1 auto; /* O conteúdo principal ocupa todo o espaço restante */
    padding-top: -40px; /* Ajuste conforme a altura da sua navbar */
}

