{% extends 'modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block estilo %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}
{% block corpo %}
<div id="layoutSidenav_content">
    <main>
        <div class="logo-image"></div>
        <div class="form-group">
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                <label for="id_username">Usuário:</label>
                {{ form.username }}

                <label id="adm" for="id_password">Senha:</label>
                {{ form.password }}
                
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </main>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/cadastro_produto.js' %}"></script>
{% endblock %}